name: CD

on:
  workflow_dispatch:
  push:
    branches:
      - master
  schedule:
    - cron: '0 5 * * *'

permissions:
  id-token: write
  contents: read

jobs:
  sandbox-jar:

    runs-on: ubuntu-latest

    name: Sandbox JAR

    steps:
    - uses: actions/checkout@v4
    - name: Setup JDK 8
      uses: actions/setup-java@v4
      with:
        distribution: temurin
        java-version: 8
    - name: Build with Maven
      run: mvn -B package  -Dorg.slf4j.simpleLogger.log.org.apache.maven.cli.transfer.Slf4jMavenTransferListener=warn
    - name: Upload JAR
      uses: actions/upload-artifact@v4
      with:
        name: sandbox.jar
        path: target/sandbox.jar

  image:

    needs: sandbox-jar
    runs-on: ubuntu-latest

    strategy:
      fail-fast: false
      matrix:
        jdk:
          - version: 8
            docker: docker/jdk
            image: adoptopenjdk/openjdk8:alpine-slim
            vmargs: ''
          - version: 9
            docker: docker/jdk
            image: adoptopenjdk/openjdk9:alpine
            vmargs: '--add-opens java.base/java.util=ALL-UNNAMED'
          - version: 10
            docker: docker/jdk
            image: adoptopenjdk/openjdk10:alpine-slim
            vmargs: '--add-opens java.base/java.util=ALL-UNNAMED'
          - version: 11
            docker: docker/jdk
            image: eclipse-temurin:11-alpine
            vmargs: '--add-opens java.base/java.util=ALL-UNNAMED'
          - version: 12
            docker: docker/jdk
            image: adoptopenjdk/openjdk12:alpine-slim
            vmargs: '--add-opens java.base/java.util=ALL-UNNAMED'
          - version: 13
            docker: docker/jdk
            image: adoptopenjdk/openjdk13:alpine-slim
            vmargs: '--add-opens java.base/java.util=ALL-UNNAMED'
          - version: 14
            docker: docker/jdk
            image: adoptopenjdk/openjdk14:alpine-slim
            vmargs: '--add-opens java.base/java.util=ALL-UNNAMED'
          - version: 15
            docker: docker/jdk
            image: adoptopenjdk/openjdk15:alpine-slim
            vmargs: '--add-opens java.base/java.util=ALL-UNNAMED'
          - version: 16
            docker: docker/jdk
            image: eclipse-temurin:16-alpine
            vmargs: '--add-opens java.base/java.util=ALL-UNNAMED'
          - version: 17
            docker: docker/jdk
            image: eclipse-temurin:17-alpine
            vmargs: '--add-opens java.base/java.util=ALL-UNNAMED'
          - version: 18
            docker: docker/jdk
            image: eclipse-temurin:18-alpine
            vmargs: '--add-opens java.base/java.util=ALL-UNNAMED'
          - version: 19
            docker: docker/jdk
            image: eclipse-temurin:19-alpine
            vmargs: '--add-opens java.base/java.util=ALL-UNNAMED'
          - version: 20
            docker: docker/jdk
            image: eclipse-temurin:20-alpine
            vmargs: '--add-opens java.base/java.util=ALL-UNNAMED'
          - version: 21
            docker: docker/jdk
            image: eclipse-temurin:21-alpine
            vmargs: '--add-opens java.base/java.util=ALL-UNNAMED'
          - version: 22
            docker: docker/jdk
            image: eclipse-temurin:22-alpine
            vmargs: '--add-opens java.base/java.util=ALL-UNNAMED'
          - version: 23
            docker: docker/jdk
            image: eclipse-temurin:23-alpine
            vmargs: '--add-opens java.base/java.util=ALL-UNNAMED'
          - version: 24
            docker: docker/jdk
            image: eclipse-temurin:24-alpine
            vmargs: '--add-opens java.base/java.util=ALL-UNNAMED'
          - version: 25
            docker: docker/jdk
            image: eclipse-temurin:25-alpine
            vmargs: '--add-opens java.base/java.util=ALL-UNNAMED'
          - version: 26
            docker: docker/jdk
            image: openjdk:26-ea-slim
            vmargs: '--add-opens java.base/java.util=ALL-UNNAMED'
          - version: 27
            docker: docker/jdk
            image: openjdk:27-ea-slim
            vmargs: '--add-opens java.base/java.util=ALL-UNNAMED'
          - version: valhalla
            docker: docker/valhalla
            image: n/a
            vmargs: '--add-opens java.base/java.util=ALL-UNNAMED'

    name: Java ${{ matrix.jdk.version }} Image (${{ matrix.jdk.image }})

    env:
      ECR_REPOSITORY: javaalmanac/sandbox
      LATEST_TAG: lambda-latest-${{ matrix.jdk.version }}
    
    steps:
    - uses: actions/checkout@v4
    - name: Download JAR
      uses: actions/download-artifact@v4
      with:
        name: sandbox.jar
        path: ${{ matrix.jdk.docker }}
    - name: Configure AWS Credentials
      uses: aws-actions/configure-aws-credentials@v4.1.0
      with:
        role-to-assume: arn:aws:iam::830482727482:role/github-workflow-io.javaalmanac.sandbox
        aws-region: eu-central-1
    - name: Login to Amazon ECR
      id: login-ecr
      uses: aws-actions/amazon-ecr-login@v2
    - name: Build, tag, and push image to Amazon ECR
      env:
        ECR_REGISTRY: ${{ steps.login-ecr.outputs.registry }}
      run: |
        docker build --build-arg JDK_IMAGE=${{ matrix.jdk.image }} --build-arg "VMARGS=${{ matrix.jdk.vmargs }}" -t sandbox ${{ matrix.jdk.docker }}
        docker tag sandbox $ECR_REGISTRY/$ECR_REPOSITORY:$LATEST_TAG
        docker push $ECR_REGISTRY/$ECR_REPOSITORY:$LATEST_TAG
    - name: Update Lambda
      uses: appleboy/lambda-action@v0.1.9
      with:
        aws_access_key_id: ${{ env.AWS_ACCESS_KEY_ID }}
        aws_secret_access_key: ${{ env.AWS_SECRET_ACCESS_KEY }}
        aws_region: eu-central-1
        function_name: jdk-sandbox-${{ matrix.jdk.version }}
        image_uri: ${{ steps.login-ecr.outputs.registry }}/${{ env.ECR_REPOSITORY }}:${{ env.LATEST_TAG }}
    - name: Logout of Amazon ECR
      if: always()
      run: docker logout ${{ steps.login-ecr.outputs.registry }}
